# .gitignore

# Django
*.pyc
__pycache__/
*.sqlite3
*.log
media/
staticfiles/

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Celery
celerybeat-schedule
celerybeat-schedule.*
*.celerybeat-schedule

# Celery результаты
celery_results/

# Flower
flower/

# Redis
dump.rdb

# Coverage
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover

# pytest
.pytest_cache/
.cache/
