services:
  db:
    image: postgres:15-alpine
    container_name: orders_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: orders_web
    env_file:
      - .env
    environment:
      # Убедитесь что переменные передаются
      DB_HOST: ${DB_HOST}
    volumes:
      - .:/app
    working_dir: /app/orders
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "sleep 5 && 
             python manage.py migrate --noinput && 
             python manage.py runserver 0.0.0.0:8000"

volumes:
  postgres_data: